/* Interview Scheduling Container */
.interview-scheduling-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select, input[type="date"], input[type="time"], input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  select[multiple] {
    height: auto;
  }
  
  button {
    padding: 12px 20px;
    background-color: var(--primary-color); /* Use primary color for buttons */
    color: var(--text-color-light);
    border: none;
    border-radius: 50px; /* Curved button */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #00204a; /* Changes background color on hover */
    transform: scale(1.02);
  }
  


  
.slide-screen {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Black with transparency */
}

.slide-content {
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  position: absolute; /* Position it */
  top: 20px; /* Adjust the top position */
  right: 20px; /* Position from the right */
  background-color: white; /* White background */
  padding: 20px; /* Some padding */
  border-radius: 8px; /* Rounded corners */
  width: auto; /* Set a width */
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add shadow for depth */
}

.close-btn {
  cursor: pointer; /* Change cursor on hover */
  font-size: 24px; /* Make the close button larger */
  position: absolute; /* Position it within the slide-content */
  top: 10px; /* Position from the top */
  right: 10px; /* Position from the right */
}


  /* completed */