/* Container for Dashboard */
.dashboard-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    max-height: calc(100vh - 120px);
    margin: 20px; /* Margin for spacing around the container */
    overflow: auto;
  }
  
  #upcomingInterviews {
    margin-bottom: 20px;
  }
  
  #interviewsTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  #interviewsTable th, #interviewsTable td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  #interviewsTable th {
    background-color: #f4f4f4;
  }
  
  button {
    margin-right: 5px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.view {
    background-color: var(--primary-color); /* Use primary color for buttons */
    color: var(--text-color-light);
  }
  
  button.view:hover {
    background-color: #00204a; /* Changes background color on hover */
    transform: scale(1.02);
  }
  
  button.reschedule {
    background-color: var(--primary-color); /* Use primary color for buttons */
    color: var(--text-color-light);
  }
  
  button.reschedule:hover {
    background-color: #00204a; /* Changes background color on hover */
    transform: scale(1.02);
  }
  
  button.cancel {
    background-color: var(--primary-color); /* Use primary color for buttons */
    color: var(--text-color-light);
  }
  
  button.cancel:hover {
    background-color: #00204a; /* Changes background color on hover */
    transform: scale(1.02);
  }
  
  button#scheduleNewInterview {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color); /* Use primary color for buttons */
    color: var(--text-color-light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button#scheduleNewInterview:hover {
    background-color: #00204a; /* Changes background color on hover */
    transform: scale(1.02);
  }
  

/* Interview Details Container */
.interview-details-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.info-section {
  margin-bottom: 20px;
}

.info-section h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.info-section p {
  margin: 5px 0;
  font-size: 1em;
}

strong {
  font-weight: bold;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button#rescheduleInterview {
  background-color: var(--primary-color); /* Use primary color for buttons */
  color: var(--text-color-light);
}

button#rescheduleInterview:hover {
  background-color: #00204a; /* Changes background color on hover */
  transform: scale(1.02);
}

button#cancelInterview {
  background-color: var(--primary-color); /* Use primary color for buttons */
  color: var(--text-color-light);
}

button#cancelInterview:hover {
  background-color: #00204a; /* Changes background color on hover */
  transform: scale(1.02);
}


/* Containers */
.reschedule-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input[type="date"], input[type="time"], input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

select[multiple] {
  height: auto;
}



button#scheduleNewInterview,
button#rescheduleInterview {
  background-color: var(--primary-color); /* Use primary color for buttons */
  color: var(--text-color-light);
}

button#scheduleNewInterview:hover,
button#rescheduleInterview:hover {
  background-color: #00204a; /* Changes background color on hover */
  transform: scale(1.02);
}

button#cancelInterview {
  background-color: var(--primary-color); /* Use primary color for buttons */
  color: var(--text-color-light);
}

button#cancelInterview:hover {
  background-color: #00204a; /* Changes background color on hover */
  transform: scale(1.02);
}

/* Interview Details Container */
.interview-details-container .info-section {
  margin-bottom: 20px;
}

.interview-details-container .info-section h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.interview-details-container .info-section p {
  margin: 5px 0;
  font-size: 1em;
}

.interview-details-container .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button.closeBtn{
  height: 35px;
  width: 90px;
  background-color: var(--primary-color); /* Use primary color for buttons */
  color: var(--text-color-light);
}

button.closeBtn:hover{
  background-color: #00204a; /* Changes background color on hover */
  transform: scale(1.02);
}

/* General overlay styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; /* Ensures overlay is a flex container */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  z-index: 1000; /* Ensures it comes in front of everything */
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%; /* Slightly less than 100% to allow padding on small screens */
  text-align: left;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow for better visibility */
}




.slide-screen {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Black with transparency */
}

.slide-content {
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  position: absolute; /* Position it */
  top: 20px; /* Adjust the top position */
  right: 20px; /* Position from the right */
  background-color: white; /* White background */
  padding: 20px; /* Some padding */
  border-radius: 8px; /* Rounded corners */
  width: auto; /* Set a width */
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add shadow for depth */
}

.close-btn {
  cursor: pointer; /* Change cursor on hover */
  font-size: 24px; /* Make the close button larger */
  position: absolute; /* Position it within the slide-content */
  top: 10px; /* Position from the top */
  right: 10px; /* Position from the right */
}




  /* completed */